<div class="container mt-4">
    <h2>Buscar Camisetas por el nombre de equipo:</h2>
    <input type="text" [(ngModel)]="cadena" class="form-control my-2" placeholder="Ingrese un término..." />
    <button (click)="buscarCamisetas(cadena)" class="btn btn-primary">Buscar</button>

    <!-- Mostrar mensaje de error si no se encuentran camisetas -->
    <div *ngIf="mensajeError" class="alert alert-danger mt-3">
        <p>{{ mensajeError }}</p>
    </div>

    <!-- Mostrar resultados de camisetas si existen -->
    <div *ngIf="camisetas.length > 0" class="mt-4">
        <h3>Resultados:</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Nombre Equipo</th>
                    <th>Temporada</th>
                    <th>Marca</th>
                    <th>Tamaño</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let camiseta of camisetas">
                    <td>
                        <!-- Imagen de la camiseta -->
                        <img alt="Imagen Camiseta" class="img-fluid" style="max-width: 100px;"
                            src="assets/images/{{ camiseta.imagen }}" />
                    </td>
                    <td>{{ camiseta.nombre_equipo }}</td>
                    <td>{{ camiseta.temporada }}</td>
                    <td>{{ camiseta.marca }}</td>
                    <td>{{ camiseta.talla }}</td>
                    <td>{{ camiseta.precio}}€</td>
                    <td>{{ camiseta.stock }}</td>
                    <td>
                        <!-- Enlace para ver detalles de la camiseta -->
                        <a [routerLink]="['/camisetas', camiseta.id]" class="btn btn-info btn-sm text-white">Ver
                            Detalles</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>