<div class="container mt-4">
    <h1 class="my-4 text-center">Gestión de Inventario de Camisetas</h1>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Imagen</th>
                <th>Equipo</th>
                <th>Temporada</th>
                <th>Marca</th>
                <th>Talla</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let camiseta of camisetas">
                <td>
                    <img [src]="'assets/images/' + camiseta.imagen" alt="Imagen Camiseta" class="img-fluid"
                        style="max-width: 100px;">
                </td>
                <td>{{ camiseta.nombre_equipo }}</td>
                <td>{{ camiseta.temporada }}</td>
                <td>{{ camiseta.marca }}</td>
                <td>{{ camiseta.talla }}</td>
                <td>{{ camiseta.precio | precioFormato }}</td>
                <td>{{ camiseta.stock }}</td>
                <td>
                    <a [routerLink]="['/camisetas', camiseta.id]" class="btn btn-info btn-sm text-white">
                        Ver Detalles
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>