<div class="container mt-5">
    <a routerLink="/" class="btn btn-outline-primary">Volver al Inicio</a>

    <div *ngIf="camiseta" class="mt-4">
        <h1 class="text-center"><u>Detalles de la Camiseta:</u> {{ camiseta.nombre_equipo }}</h1>

        <div class="row mt-4">
            <div class="col-md-5 mb-4">
                <img [src]="'assets/images/' + camiseta.imagen" alt="Imagen Camiseta" class="img-fluid">
            </div>

            <div class=" col-md-6 ms-5">
                <h3 class="mb-3">Información</h3>
                <p><strong>Temporada:</strong> {{ camiseta.temporada }}</p>
                <p><strong>Marca:</strong> {{ camiseta.marca }}</p>
                <p><strong>Talla:</strong> {{ camiseta.talla }}</p>
                <p><strong>Precio:</strong> {{ camiseta.precio }}€</p>
                <p><strong>Stock:</strong> {{ camiseta.stock }}</p>
            </div>
        </div>
    </div>

    <div *ngIf="!camiseta" class="text-center mt-5">
        <p class="text-danger">No se pudo encontrar la camiseta seleccionada.</p>
    </div>
</div>