<div class="container mt-5">
    <a routerLink="/" class="btn btn-outline-primary">Volver al Inicio</a>

    <div *ngIf="camiseta" class="mt-4">
        <h1 class="text-center"><u>Detalles de la Camiseta:</u> {{ camiseta.nombre_equipo }}</h1>

        <div class="row mt-4">
            <div class="col-md-5 mb-4">
                <img [src]="'assets/images/' + camiseta.imagen" alt="Imagen Camiseta" class="img-fluid">
            </div>

            <div class=" col-md-6 ms-5">
                <h3 class="mb-3">Información</h3>
                <p><strong>Temporada:</strong> {{ camiseta.temporada }}</p>
                <p><strong>Marca:</strong> {{ camiseta.marca }}</p>
                <p><strong>Talla:</strong> {{ camiseta.talla }}</p>
                <p><strong>Precio:</strong> {{ camiseta.precio }}€</p>
                <p><strong>Stock:</strong> {{ camiseta.stock }}</p>

                <h4 class="mt-4">Actualizar Stock</h4>
                <!-- <form (ngSubmit)="actualizarStock()"> -->
                <div class="mb-3">
                    <label for="stock" class="form-label">Nuevo Stock:</label>
                    <!-- <input type="number" [(ngModel)]="nuevoStock" name="stock" class="form-control" min="0"
                            max="1000" required> -->
                </div>
                <button type="submit" class="btn btn-success">Actualizar Stock</button>
                <!-- </form> -->

                <div class="mt-3">
                    <h4>Más opciones...</h4>
                    <div class="d-flex">
                        <a [routerLink]="['/camisetas', camiseta.id, 'editar']"
                            class="btn btn-warning text-white me-2 mt-3">
                            Editar Camiseta
                        </a>

                        <!-- <button (click)="eliminarCamiseta()" class="btn btn-danger mt-3">Eliminar Camiseta</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!camiseta" class="text-center mt-5">
        <p class="text-danger">No se pudo encontrar la camiseta seleccionada.</p>
    </div>
</div>

<footer class="bg-dark text-white text-center py-4 mt-5">
    <p>Proyecto Creado por Miguel Angel Jimenez Garrido.</p>
</footer>