<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container-fluid d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center">
            <a class="text-decoration-none text-white h3 me-2" routerLink="/">
                Tienda de camisetas
            </a>
            <a routerLink="/busqueda"><img src="../assets/images/lupa.png" alt="" width="30"></a>
            <img src="../assets/images/icon.png" width="30" alt=""> |
        </div>

    </div>
</nav>
<main>
    <router-outlet></router-outlet>
</main>


<footer class="bg-dark text-white text-center py-4 mt-5">
    <p>&copy; 2025 Tienda de Camisetas de Fútbol. Todos los derechos reservados.</p>
</footer>